<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name='Jurnal' connectionString='Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename="D:\Right Documents\Student\Glagolev\SQL_DB\AppForBd_Erdman\AppDB_C#\AppForBD_Erdman\AppForBD_Erdman\Jurnal_Lekcii.mdf";Integrated Security=True'/>
	</connectionStrings>
</configuration>